.banner {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;

  &-content {
    display: flex;
    flex-direction: column;

    h1 {
      max-width: 470px;
      font-weight: 400;
      font-size: 63px;
      line-height: 79px;
      color: $color-black-100;
    }

    p {
      margin-top: 20px;
      max-width: 495px;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      color: $color-black-100;
    }

    &__btn {
      margin-top: 30px;
      display: flex;
      align-items: center;
      gap: 36px;

      a {
        padding: 16px 36px;
        border: 1px solid $color-blue-200;
        border-radius: 14px;
        background: $color-blue-200;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $color-white-50;
        transition: .6s all;
        
        &:hover{
          background: $color-white-50;
          color: $color-blue-200;
        }
      }

      &-image{
        max-width: 181px;

        img{
          width: 100%;
        }
      }
    }
  }

  &-image {
    max-width: 600px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 920px) {
  .banner{
    margin-top: 20px;
    padding: 0 20px;
    gap: 50px;

    &-content{
      h1{
        font-size: 34px;
        line-height: 50px;
      }

      p{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .banner-content__btn-image{
    display: none;
  }
}